/* 
    Document   : project_management
    Created on : Jun 2, 2013, 9:39:04 PM
    Author     : mltbooks
    Description:
        Purpose of the stylesheet follows.
*/

a.button, a.button:visited {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/ui/ui-bg_highlight-soft_90_e6e4e2_1x100.png") repeat-x scroll 50% 50% #E6E4E2;
    border-color: #E6E4E2 #BBBBBB #BBBBBB #E6E4E2;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    font-size: 0.9em;
    font-weight: 500;
    margin: 0 0.5em 0 0;
    overflow: hidden;
    padding: 0.3em 1em;
}
#email_addresses {
    border: 1px solid #CCCCCC;
    margin: 10px;
    padding: 10px;
}