/* 
    Document   : project_management_user_logged_in_block
    Created on : Nov 21, 2012, 1:19:41 PM
    Author     : derekwhittom
    Description:
        Purpose of the stylesheet follows.
*/


#project_management_user_logged_in_block li, #project_management_go_back li {
    display: inline-block;
    height: 25px;
    line-height: 12px;
    margin: 0;
    padding: 0;
}
#project_management_user_logged_in_block, #project_management_go_back {
    display: inline-block;
    margin-left: 0;
}
ul#project_management_user_logged_in_block a, ul#project_management_go_back a {
    border: 1px solid transparent;
    color: white;
    font-size: small;
    padding: 6px;
    vertical-align: text-bottom;
}

#project_management_user_logged_in_block ul.menu_dropdown li {
    color: white;
    display: list-item;
    margin-bottom: 5px;
}


div.dropdown {
    margin-top: 0;
    position: absolute;
    display:none;
}

ul#project_management_user_logged_in_block div.dropdown ul.menu_dropdown a:hover, ul#project_management_user_logged_in_block div.dropdown ul.menu_dropdown a.hovering, ul#project_management_user_logged_in_block div.dropdown ul.menu_dropdown a.active {
    background-color: #811A1A;
    border: 0 none;
}
ul.menu_dropdown {
    background: none repeat scroll 0 0 #8C8C8C;
    border: 1px solid black;
    box-shadow: 0 2px 6px #A9A9A9;
    display: inline-block;
    margin-left: 0;
    margin-top: 20px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 3px;
    position: relative;
    text-align: center;
    
}
#project_management_user_logged_in_block ul.menu_dropdown li a {
    border: 0 none;
    display: block;
    margin: 2px;
    padding: 5px 10px;
}

ul#project_management_user_logged_in_block a:hover, ul#project_management_user_logged_in_block a.hovering, ul#project_management_user_logged_in_block a.active, ul#project_management_go_back a:hover, ul#project_management_go_back a.hovering, ul#project_management_go_back a.active {
    background-color: #B72828 !important;
    box-shadow: 0 -4px 6px 17px rgba(0, 0, 0, 0.1) inset;
}
ul#project_management_user_logged_in_block a {
    border: 1px solid transparent;
    color: white;
    font-size: small;
    padding: 6px;
    vertical-align: text-bottom;
}