/* 
    Document   : project_management_program
    Created on : Jun 7, 2013, 8:07:51 PM
    Author     : mltbooks
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

span.label {
    font-weight: 600;
}
div.program_description {
    margin-top: 10px;
}
#content ul.program_list li {
    margin: 0;
    padding: 0 0 10px;
}
#content ul.program_list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}