root {
    display: block;
}
#staffCal td, #staffCal th {
    background-color: white;
    border: 2px solid transparent;
    font-size: small;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: top;
    width: 70px;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
}
table#staffCal th {
    font-size: small;
    font-weight: 400;
    height: 20px;
    text-align: center;
}
td.office_hours_item {
    border: 1px solid black;
    cursor: pointer;
    height: 25px;
    width: 120px;
}
fieldset.office_hours_fieldset {
    background-color: transparent;
    border: 0 none;
    border-radius: 0 0 0 0;
    cursor: pointer;
    height: 31px;
    margin: 0;
    padding: 0;
    top: 0;
}
td.office_hours_table_cell {
    height: 30px !important;
    margin: 0;
    padding: 0;
    width: 120px;
}
td.office_hours_table_cell input {
    border: 0 none;
    border-radius: 0 0 0 0;
    height: 30px;
    margin: 0 !important;
    padding: 0 !important;
}
tr.office_hours_table_row {
    line-height: 1;
}
#staffCal td.office_hours_selected {
    border-color: #1E8BFF;
    border-style: solid;
    box-shadow: 0 0 6px #1E8BFF;
}
.staff_hours_element {
    font-size: x-small;
    padding: 2px;
}
#staff_list {
    float: left;
    position: relative;
}
#staff_schedule {
    float: left;
    margin-right: 10px;
}
table#staffCal {
    background-color: #D6D6D6;
    border-collapse: separate;
    float: left;
    width: 800px;
}
table.choices_palette td {
    width: 100px;
}
table.choices_palette {
    border-collapse: collapse;
    display: inline-block;
    float: left;
    margin-left: 20px;
    width: 100px;
}
td#available, #staffCal td.available {
    background-color: #D4FFD3;
}
td#working, #staffCal td.working {
    background-color: #FFBFBF;
}
td#class, #staffCal td.class {
    background-color: #E1D08B;
}
td#flexible, #staffCal td.flexible {
    background-color: #DBEAFC;
}

span.schedule_view {
    padding: 10px;
}
span.schedule_view a.active {
    border-bottom: 2px solid blue;
}