/* 
    Document   : staff_schedules_print
    Created on : Aug 17, 2011, 3:16:54 PM
    Author     : TakeActi
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
/* 
    Document   : timesheets_print
    Created on : Aug 5, 2011, 11:16:11 PM
    Author     : derekwhittom
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body
{
   margin:0;
   margin-left:8px;
   padding:0;
   font: 9px Arial,'Liberation Sans',FreeSans,sans-serif;
}
table
{
   width:100%;
   font: 9px Arial,'Liberation Sans',FreeSans,sans-serif;
   margin:0 !important;
}
#topTable
{
   padding:4px 6px 0px 6px;
}
#topTable td
{
   width:50%;
}
#container
{
   width:434px;
   text-align:center;
}
#title
{
   font-size:16px;
   font-weight:bold;
}
.uline
{
   border-bottom:1px solid #000;
   font: 12px 'Times New Roman','Liberation Sans',FreeSans,sans-serif;
}
.nouline
{
   border-bottom:none;
}
.floatLeft
{
   float:left;
}

.floatRight
{
   float:right;
}
.label
{
   font: 11px Arial,'Liberation Sans',FreeSans,sans-serif;
   margin-right:6px;
   float:left;
}
#dep
{
   width:140px;
}
#name
{
   width:160px;
}
#pay
{
   width:123px;
   font-size:7pt;
}
#cwu
{
   width:114px;
}
#optionsTable
{
   border:1px solid #000;
   border-bottom:none;
   border-collapse:collapse;
}
#optionsTable td
{
   border-bottom:1px solid black;
   height:16px;
}

#optionsTable .nouline td
{
   border-bottom:none;
}

.checkBox
{
   margin:2px 2px;
   float:left;
   border:1px solid black;
   width:8px;
   height:8px;
   *font-size:0px;
}
#yes
{
   width:50%;
   float:left;
}
#no
{
   width:50%;
   float:left;
}

#timeTable
{
   border-collapse:collapse;
   border-top:2px solid #000;
   margin-top:4px;
}
#timeTable td
{
   width:61px;
   height:16px;
   border:1px solid #000;
   text-align:center;
}
#timeTable .top td
{
   border-bottom:2px solid #000;
   height:40px;
   padding-top:18px;
}

#timeTable #cStaff
{
   padding:0px;
   margin:0px;
   *width:115px;
}
#cStaff td
{
   border:none;
}

#cStaff table
{
   border-collapse:collapse;
   font-size: 8px;
}

#cStaff #head
{
   border-bottom:1px solid #000;
   height:12px;
   padding-top:2px;

}
#cStaff #cStaffLeft
{
   border-right:1px dashed #000;
   border-bottom:none;
   padding-top:0;
}
#cStaff #cStaffRight
{
  border-bottom:none;
     padding-top:0;
}

#timeTable .balance
{
   text-align:right;
   padding-right:5px;
   *width:463px;
}
#timeTable .cStaffLeft
{
   border-right:1px dashed #000;
   padding-top:0;
   width:70px;
}
#timeTable .cStaffRight
{
   border-left:none;
   padding-top:0;

}
#timeTable .payPeriod
{
   text-align:right;
   padding-right:5px;
   *width:463px;
}
#timeTable .disclaimer
{
   height:10px;
   font-size:6pt;
   *width:434px;
}

#bottomBox
{
   margin-top:4px;
   border:1px solid #000;
}
#bottomBox .ifyes
{
   border-bottom:1px solid #000;
}
#bottomBox .note
{
   font-size:5pt;
}

#lastTable
{
   font-size:6pt;
}
#lastTable .uline .blank
{
   width:20px;
   border:none;
}
#lastTable .uline td
{
   border-bottom:1px solid #000;
}
.right
{
   text-align:right;
}
#ifyou
{
   margin:4px 10px 0 10px;
   font-size:8pt;
}
#original
{
   margin-top:4px;
   font-size:5pt;
}
#logs
{
   font: 12pt Arial,'Liberation Sans',FreeSans,sans-serif;
   page-break-before: always;
}
#logs table
{
   font: 10pt Arial,'Liberation Sans',FreeSans,sans-serif;
   margin:0 0 12px 40px !important;
}
#logs table th
{
   font-weight:bold;
   width:100px;
   text-align:left;
   vertical-align:top;
}
tr, tr td, tr th {
  background: none repeat scroll 0 0 transparent !important;
  border: 1px solid black;
  color: #000000 !important;
  padding: 2px !important;
}
