
root {
    display: block;
}

task_completion {
}

span.task_completion {
    vertical-align: top;
}

span.task_users {
    vertical-align: top;
    display: inline-block;
    margin-left: 20px;
    width: 200px;
}

.task_date {
    display: inline-block;
    width: 200px;
    text-align: right;
    vertical-align: top;
}

body {
    background: none repeat scroll 0% 0% transparent ! important;
}

#page {
    background: none repeat scroll 0% 0% transparent ! important;
    font-family: verdana;
    text-align: left;
    font-weight: bold;
}

span.objective_item_summary {
    border: 1px solid black;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    width: 1020px;
}

ul.task_list {
    list-style: square outside none;
}

ul.objective_list {
    font-size: 10px;
}

.task {
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
    width: 1000px;
    min-height: 80px;
}

.task_description {
    display: inline-block;
    width: 430px;
}