/* 
    Document   : timesheet
    Created on : Jun 3, 2013, 4:14:20 AM
    Author     : mltbooks
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.date_time_combined
{
    height: 100px;
    position: relative;
}

div.date_time_combined div.form-item.form-type-date-time {
    display: inline-block;
    margin-right: 40px;
}
div.date_time_combined div.form-item span.leading_label {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    min-width: 28px;
    text-align: center;
}
div.date_time_combined div.form-date-time div.form-type-textfield {
    margin: 0;
}

div#timesheets_div ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
div#timesheets_div ul li {
    margin: 0;
}