/* 
    Document   : project_management_event.css
    Created on : Apr 23, 2013, 9:02:53 AM
    Author     : derekwhittom
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

div.event.full span.label
{
    font-weight:bolder;
}
span.label.above
{
    display:block;
}
div.participation span.reservation {
    display: block;
}
.event_title {
    margin-bottom: 10px;
}

ul.project_management_event {
    margin: 10px 0;
}

ul.project_management_event .event {
    border: 3px solid #D2D2D2;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 20px;
    padding: 11px;
}

div.search_bar div.form-item {
    display: inline-block;
}

#content ul.project_management_event {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#content ul.project_management_event li {
    margin: 0;
    padding: 0;
}
