/* 
    Document   : position_volunteer_list
    Created on : May 31, 2013, 9:18:39 AM
    Author     : derekwhittom
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

table.volunteer-list tr.rowgroup_header > td {
    background-color: #BABABA;
    border: 1px solid #8C8C8C;
}
table.volunteer-list th, table.volunteer-list td {
    border: 0 solid #E4E2E0;
    padding: 0.5em;
}
table.volunteer-list td.td_offset {
    background-color: white;
    border: 0 none !important;
    width: 10px;
}

table.volunteer-list tr:last-child td {
    border-bottom: 1px solid #8C8C8C;
}
table.volunteer-list td {
    border-left: 1px solid #8C8C8C;
    border-right: 1px solid #8C8C8C;
    padding: 0.5em;
}