/* 
    Document   : position
    Created on : Jun 2, 2013, 9:17:35 PM
    Author     : mltbooks
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#content ul#volunteer-positions {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#content ul#volunteer-positions li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}