/* 
    Document   : position_widget
    Created on : May 9, 2013, 9:33:25 AM
    Author     : derekwhittom
    Description:
        Purpose of the stylesheet follows.
*/


div.signup_close_date > div {
    display: inline-block;
}
.position-field-widget label {
    display: inline-block !important;
    min-width: 100px !important;
    vertical-align:top;
}

.position-field-widget div.form-textarea-wrapper {
    display: inline-block;
}

.position-field-widget > div.form-item {
    margin-top: 2px;
    padding-bottom: 2px;
}
.remove_button {
    float: right;
    vertical-align: top;
}

.position_shift {
    border: 1px solid #CCCCCC;
    font-size: 10px;
    margin-top: 10px;
    max-width: 600px;
    padding: 10px;
}

.shift_description {
    display: block;
}

.signup_status {
    float: right;
}
div.position--list div.field {
    margin-bottom: 0;
    margin-top: 5px;
}
div.position--list div.field h3.field-label {
    font-size: small;
    font-weight: bold;
}

.position--list.clearfix {
    border: 1px solid #EDEDED;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    max-width:500px;
}

.position_date {
    display: inline-block !important;
    width: 500px !important;
}
.positions {
    margin-top: 20px;
}

div.positions ul {
    margin: 0;
}