/* 
    Document   : activity_update.css
    Created on : Jan 15, 2013, 1:36:28 PM
    Author     : derekwhittom
    Description:
        Purpose of the stylesheet follows.
*/

div.activity_update {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 10px;
    padding: 5px;
}
ul#activity_list {
    list-style:none outside none;
    margin:0;
    padding:0;
}

div.user-picture {
    display: inline-block;
    float: left;
    margin-right: 10px;
}