.day_number {
    background-color: #DDDDDD;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    box-shadow: -2px 2px 2px #FFFFFF;
    display: inline-block;
    float: right;
    height: 18px;
    padding: 2px;
    position: relative;
    text-align: center;
    width: 18px;
    z-index: 1000;
}
.calendar_date {
    border: 1px solid transparent;
    float: none;
    height: 45px;
    margin-top: 0;
    max-height: 200px;
    min-height: 92px;
    overflow: hidden;
    width: 100px;
    z-index: 0;
}
.project_month_view {
    border: 1px solid #CCCCCC;
    font-size: x-small;
    margin: 2px;
    overflow: hidden;
    padding: 2px;
}
.project_week_view {
    border: 1px solid #CCCCCC;
    font-size: x-small;
    height: 15px;
    margin: 2px;
    overflow: hidden;
    padding: 2px;
}
div.project_calendar table.project_management_calendar td {
    border: 1px solid #CCCCCC;
    height: 95px;
    padding: 0;
    vertical-align: top;
    
}
table.project_management_calendar {
    position: relative;
    width: 100%;
    max-width:1002px;
}
.offset {
    background-color: #EEF6F8;
}
.calendar_date:hover {
    background-color: #F4EEE3;
    box-shadow: 0 0 7px 5px #CCCCCC;
    height: auto;
    overflow: auto;
    z-index: 1001;
}
.project_month_view:hover {
    background-color: #D3F0FF;
    overflow: visible;
    width: auto;
}
.project_week_view:hover {
    background-color: #D3F0FF;
    height: auto;
    overflow: visible;
    width: auto;
}
div.view_modes a.active.button {
    box-shadow: 0 0 0 2px #4D86A9;
}
.calendar_bar {
    margin-bottom: 10px;
    max-width: 1002px;
    text-align: center;
    width: 100%;
}
.date_navigate {
    float: left;
}
.view_modes {
    float: right;
}
div.project_calendar table.project_management_calendar_week th {
    border-right: 1px solid #CCCCCC;
    font-size: x-small;
    height: 24px;
    text-align: center;
    vertical-align: top;
    width: 70px;
    background-color:white;
}
div.project_calendar  table.project_management_calendar_week td {
    border-right: 1px solid #CCCCCC;
    vertical-align: top;
}
table.project_management_calendar_week tr:hover {
    background-color: transparent;
}
table.project_management_calendar_week {
    width:100%;
    max-width: 1002px;
}
table.project_management_calendar_week td {
    border-right: 1px solid #CCCCCC;
}

div.project_calendar {
    min-width: 720px;
}
div#block-system-main {
    max-width: 720px;
    width: auto;
}
div.project_calendar tr.hour td {
    border-bottom: 1px dashed #CCCCCC;
    padding: 0;
}
div.project_calendar tr.half_hour td {
    padding: 0;
}
div.project_calendar tr.hour th {
    border-bottom: 0 none;
}
div.position_month_view:hover, div.event_month_view:hover {
    background-color: #EFEA65;
}
div.calendar_item {
    font-size: 10px;
    line-height: normal;
    overflow: hidden;
}
div.day_date.calendar_item_container {
    max-width: 800px;
    min-width: 600px;
    width: auto;
}
div.calendar_item_container {
    position: absolute;
    width: 10%;
    max-width: 110px;
}
div.position_month_view, div.event_month_view {
    font-size: xx-small;
    line-height: normal;
    padding: 5px;
    z-index: 0;
}
div.position_week_view {
    background-color: #F4F6F9;
    border: 2px solid #3C61BE;
    border-radius: 5px 5px 5px 5px;
    font-size: x-small;
    padding: 5px;
    position: absolute;
    width: 110px;
}
div.event_week_view {
    background-color: #BDEAAE;
    border: 2px solid #356D1B;
    border-radius: 5px 5px 5px 5px;
    font-size: x-small;
    padding: 5px;
    position: absolute;
    width: 110px;
}
div.position_day_view {
    font-size: x-small;
}
div.position_week_view:hover, div.event_week_view:hover {
    background-color: #F7F6E5;
    box-shadow: 0 0 9px #AAAAAA;
    z-index: 1000;
}
span.times {
    display: block;
}
div.project_calendar th, div.project_calendar td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #E4E2E0;
    border-image: none;
    border-style: solid;
    border-width: 0 0 1px;
    padding: 0.5em;
}