/* 
    Document   : executive_summary.css
    Created on : Nov 15, 2012, 2:05:51 PM
    Author     : derekwhittom
    Description:
        Purpose of the stylesheet follows.
*/



* { margin: 0 !important; padding: 0 !important; }

html, body {
    /*changing width to 100% causes huge overflow and wrap*/
    height:100%; 
    overflow: hidden;
    background: #FFF; 
    font-size: 9.5pt;
}

.template { width: auto; left:0; top:0; }
img { width:100%; }
li { margin: 0 0 10px 20px !important;}

.activity_name {
	float: left;
	width: 6in;
}
.date {
	float: left;
	width: 2in;
}
.coordinators {
	float: left;
	width: 8in;
}
.header {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	height: 1.5in;
	padding: 0px;
	margin: 0px;
}
.footer {
}
.budget {
	float: left;
	width: 2in;
}
.participants {
	float: left;
	width: 3in;
}
.hours_served {
	float: left;
	width: 3in;
}
.content {
	margin: 0px;
	padding: 0px;
	height: 8in;
}
.content .items {
	text-decoration: underline;
}oot { 
    display: block;
}

* { margin: 0 !important; padding: 0 !important; }

html, body {
    /*changing width to 100% causes huge overflow and wrap*/
    height:100%; 
    overflow: hidden;
    background: #FFF; 
    font-size: 9.5pt;
}

.template { width: auto; left:0; top:0; }
img { width:100%; }
li { margin: 0 0 10px 20px !important;}

.activity_name {
	float: left;
	width: 6in;
}
.date {
	float: left;
	width: 2in;
}
.coordinators {
	float: left;
	width: 8in;
}
.header {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	height: 1.5in;
	padding: 0px;
	margin: 0px;
}
.footer {
}
.budget {
	float: left;
	width: 2in;
}
.participants {
	float: left;
	width: 3in;
}
.hours_served {
	float: left;
	width: 3in;
}
.content {
	margin: 0px;
	padding: 0px;
	height: 8in;
}
.content .items {
	text-decoration: underline;
}