div.form-textarea-wrapper textarea.form-textarea-autocomplete {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 13px;
    height: auto;
    line-height: 1.28;
    margin: 0;
    min-height: 48px;
    padding: 0;
    position: relative;
    width: 100%;
    word-wrap: break-word;
    resize:none;
    outline:0 none;
    -webkit-box-shadow:none !important;
}

div.form-textarea-autocomplete-wrapper div.form-item {
    margin: 0;
}

div.inline_submit {
    background-color: #EFEFEF;
    border-top: 1px solid #CCCCCC;
    min-height: 34px;
}
div.form-textarea-autocomplete-wrapper {
    border: 1px solid #CCCCCC;
}
div.inline_submit input.form-submit {
    float: right;
    margin: 5px;
}
div.autocomplete-suggestions {
    background: none repeat scroll 0 0 white;
    border: 1px solid black;
    position: absolute;
    z-index: 10;
}
div.form-textarea-autocomplete-wrapper div.highlighter {
    line-height: 1.28;
    position: absolute;
}
div.form-textarea-autocomplete-wrapper span.highlighter_span {
    border: 0 none;
    color: transparent;
    font-size: 13px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
div.form-textarea-autocomplete-wrapper div.innerWrap {

    padding: 5px;
}
span.highlighter_span b {
    background: linear-gradient(#DCE6F8, #BDCFF1) repeat scroll 0 0 transparent;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 0 1px #A3BCEA;
    direction: ltr;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: left;
}

.autocomplete_suggestions {
    background-color: white;
    border: 1px solid #B4B4B4;
    position: absolute;
    width: 400px;
}
li.suggestion {
    border-bottom: 1px solid #B4B4B4;
    padding: 6px;
}

li.suggestion span.name {
    display: block;
}

li.suggestion:hover {
    background-color: #A4D3FF;
}
ul.suggestions {
    list-style: none outside none;
    margin: 0;
}


li.suggestion span.organization {
    font-size: x-small;
}