/* 
    Document   : date-time.css
    Created on : Apr 16, 2013, 10:34:53 AM
    Author     : derekwhittom
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.form-date-time-time {
    float: left;
}

.form-date-time-date {
    float: left;
}
.form-date-time-time.label {
    margin-left: 7px;
    margin-right: 6px;
    padding: 5px;
}