/* 
    Document   : timespan
    Created on : Mar 30, 2013, 6:26:04 PM
    Author     : mltbooks
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

div.inline_submit div.form-type-timespan div.form-timespan input {
    font-size: small;
    height: 14px;
}
div.inline_submit div.form-type-timespan div.form-timespan {
    width: 300px;
}
div.inline_submit div.form-type-timespan label {
    float: left;
    margin-right: 10px;
}
div.inline_submit div.form-item.form-type-timespan {
    float: left;
    margin: 5px !important;
}
span.leading_label {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 28px;
    text-align: center;
}